<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <%- locals.title %>
    </title>

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/png">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/css/line-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/flaticon.css" rel="stylesheet">

    <link href="/assets/css/swiper-min.css" rel="stylesheet">

    <link href="/assets/css/odometre.css" rel="stylesheet">
    <link href="/assets/css/magnific-popup.css" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="preloader js-preloader">
        <img src="/assets/img/preloader.gif" alt="Image">
    </div>
    <div class="page-wrapper ">

        <header class="header-wrap style1">
            <div class="header-top xl-none">
                <div class="close-header-top xl-none">
                    <button type="button"><i class="las la-times"></i></button>
                </div>
                <div class="container-fluid container-full">
                    <div class="row align-items-center">
                        <div class="col-xl-9">
                            <div class="header-top-right">
                                <div class="header-bottom-right xl-none">
                                    <div class="select_lang">
                                        <div class="navbar-option-item navbar-language dropdown language-option">
                                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="las la-globe"></i>
                              <span class="lang-name"></span>
                            </button>
                                            <div class="dropdown-menu language-dropdown-menu">
                                                <a class="dropdown-item" href="#">
                                                    <img src="/assets/img/uk.png" alt="flag"> Eng
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <img src="/assets/img/china.png" alt="flag"> 简体中文
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <img src="/assets/img/uae.png" alt="flag"> العربيّة
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="quote.html" class="btn style1"> Request A Quote <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid container-full">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                        <a href="/" class="logo"><img src="/assets/img/logo2.png" alt="Image"></a>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-6">
                        <div class="main-menu-wrap style1">
                            <div class="menu-close xl-none">
                                <a href="javascript:void(0)"><i class="las la-times"></i></a>
                            </div>
                            <div id="menu">

                                <ul class="main-menu list-style">
                                    <li>
                                        <a class="<%- locals.active%>" href="/">Home</a>
                                    </li>
                                    <li>
                                        <a class="<%- locals.active%>" href="/investments">Investments</a>
                                    </li>
                                    <li>
                                        <a class="<%- locals.active%>" href="/about-us">About Us</a>
                                    </li>
                                    <li>
                                        <a class="<%- locals.active%>" href="/faq">FAQs</a>
                                    </li>
                                    <li><a class="<%- locals.active%>" href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mobile-bar-wrap">
                            <div class="mobile-top-bar xl-none">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="mobile-menu xl-none">
                                <a href="javascript:void(0)"><i class="las la-bars"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 lg-none">
                        <div class="header-right">
                            <a href="/auth/login" class="btn btn-outline-default"> Login</a>
                            <a href="/auth/signup" class="btn style1"> Sign Up</a>
                            <div class="select_lang">
                                <div class="navbar-option-item navbar-language dropdown language-option">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="las la-globe"></i>
                              <span class="lang-name"></span>
                            </button>
                                    <div class="dropdown-menu language-dropdown-menu">
                                        <a class="dropdown-item" href="#">
                                            <img src="/assets/img/uk.png" alt="flag"> Eng
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="/assets/img/china.png" alt="flag"> 简体中文
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="/assets/img/uae.png" alt="flag"> العربيّة
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>